<div class="container">
  <div class="concept">
    <p class="title">Détectez les failles de sécurité de votre site ou application web et évitez d’être piraté
    </p>
    <div class="resume">
      Mettez-vous dans la peau d'un hacker ! Sans expertise technique, lancez un <strong>audit de sécurité</strong> et détectez les <strong>vulnérabilités</strong> de votre site internet ou de votre application web. Grâce aux rapports détaillés, vous pourrez connaître précisément vos <strong>failles de sécurité exploitables</strong> par des hackers, leurs <strong>niveaux de criticité</strong> et la <strong>manière dont les corriger</strong>. Vous pourrez même rejouer les attaques pour comprendre les risques encourus.
      <strong>Avec YAWAS, protégez votre site contre le piratage informatique et les fuites de données.</strong>
    </div>
  </div>
</div>

<hr>

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <div class="circle">
        <div class="icons">
          43%
        </div>
      </div>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <div class="circle">
          <div class="icons">
            60%
          </div>
      </div>
    </div>
  </div>
</nav>

<nav class="level">
  <div class="level-item has-text-centered">
    <div class="infos">
      <ul>
        <li>des cyberattaques visent <strong>les petites entreprises</strong></li>
      </ul>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="infos">
      <ul>
        <li>des entreprises touchées par des <strong>cyberattaques</strong> déposent leur <strong>bilan</strong></li>
      </ul>
    </div>
  </div>
</nav>

<footer class="footer">
  <div class="content has-text-centered">
    <p class="footer">
        © 2019 <strong>YAWAS</strong> - <a href="https://jgthms.com">Mentions légales</a>.
        <br>Développé par <a href="https://amelneffati.github.io/">YAWAS</a>.
    </p>
  </div>
</footer>
