
.circle {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
  margin-right: 0.5rem;
  margin-top: 2rem;
}

.heading {
  font-size: 12px;
  margin-top: 1rem;
}

.heading2 {
  font-size: 12px;
  margin-top: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.infos {
text-align: justify
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: -1rem;
  font-size: 13px;
}

li {
  margin-bottom: 2px;
}

.team .title {
  font-size: 20px;
  margin: 4rem;
  margin-bottom: 2rem;
}

.team {
  margin-bottom: 2rem;
}
