<div class="container team">
    <div class="team">
      <p class="title">L'équipe de développement</p>
    </div>
    <div class="separator"></div>
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQF9dsShFKMtbA/profile-displayphoto-shrink_400_400/0?e=1601510400&v=beta&t=ewH4VR-hpewJkuSXTrmu7WrqrloErPEiBg3EvPYFL18" class="circle" style="filter: grayscale(1);">
              <p class="heading">Jules Bozouklian</p>
              <p class="heading2">Tek 3</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <img src="https://media-exp1.licdn.com/dms/image/C4E35AQHe-gCXHaMl9Q/profile-framedphoto-shrink_400_400/0?e=1595880000&v=beta&t=k5mI_YVnEhpaa3kK1rjelNGQO4W6x2deU-B13TrEOT8" class="circle" style="filter: grayscale(1);">
              <p class="heading">Grégory Koenig</p>
              <p class="heading2">Tek 3</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <img src="https://quincycollege.edu/content/uploads/FinancialAidRelatedContent.png" class="circle" style="filter: grayscale(1);">
              <p class="heading">Maxime Lardier</p>
              <p class="heading2">Tek 3</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGCqTGxO3HfJQ/profile-displayphoto-shrink_400_400/0?e=1601510400&v=beta&t=soHizwNwqQxQ7p1s88ZFytdD1tiAHEzvJUH_pk8xyy8" class="circle" style="filter: grayscale(1);">
              <p class="heading">Amel Neffati</p>
              <p class="heading2">Tek 3</p>
            </div>
        </div>
      </nav>
<!-- 
      <nav class="level">
          <div class="level-item has-text-centered">
            <div class="infos">
              <ul>
                <li>Avocate en droit pénal.</li>
              </ul>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div class="infos">
              <ul>
                <li>Avocate en droit social.</li>
              </ul>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div class="infos">
              <ul>
                <li>Avocate en droit de la famille.</li>
              </ul>
            </div>
          </div>
          <div class="level-item has-text-centered">
              <div class="infos">
                <ul>
                  <li>Avocat en droit public.</li>
                </ul>
              </div>
          </div>
        </nav> -->
</div>
