<div class="container demo">
    <div class="demo">
      <p class="title">YAWAS, qu'est ce que c'est ?</p>
    </div>

    <div class="video-container">
      <div>
        <img src="https://i.imgur.com/QMLUttj.png" alt="" height="250px">
      </div>
      <div class="box">

        L'objectif du projet et de fournir <strong>une solution SaaS de détection et d'analyse de
        vulnérabilité</strong> pour les applications web.<br>
        Les PME étant les entreprises <em>les plus visés par des cyber attaques</em> en France,
        l'objectif du projet est de fournir une solution simple d'utilisation et à la fois
        extrêmement efficace.<br>
        Le projet est destiné à être utilisé par des développeurs qui n'ont pas
        les connaissances nécessaires en matière de sécurité afin de faire
        faces aux cyber-attaques qui visent leurs applications.<br>
        Le choix d'une solution SaaS nous permettra de fournir <strong>une solution clé en main</strong>
        pour ses utilisateurs.<br><br>
        La solution se présentera sous la forme d'un tableau de bord permettant de
        lancer des audits de type "black-box", c'est-à-dire sans aucune information sur
        la cible. Une fois l'audit terminé un rapport sera généré.<br>
        Un accès à une page de veille sécuritaire et un système d'alerte paramétrable
        sera aussi disponible.
      </div>
    </div>

    <div class="resume"></div>
  </div>
