<div class="container contact">
  <div class="field">
    <label class="label">Prénom Nom</label>
    <div class="control">
      <input class="input" type="text" placeholder="Votre texte">
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Votre texte">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Sujet</label>
    <div class="control">
      <div class="select">
        <select>
          <option>Je suis un financeur et je suis intéressé par le projet.</option>
          <option>Je suis développeur et je souhaite tester YAWAS.</option>
          <option>Je suis développeur et je souhaite rejoindre vos équipes.</option>
          <option>Autre.</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Message</label>
    <div class="control">
      <textarea class="textarea" placeholder="Votre message"></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Envoyer</button>
    </div>
  </div>
</div>
